@import '~@angular/material/theming';
@import '~@tstack/client/theming';

@include mat-core();
@include tsk-core();

html, body {
	height: 100%;
}

body {
	margin: 0; font-family: 'Roboto', sans-serif;
}

@mixin set-themes($theme) {
	@include angular-material-theme($theme);
	@include tsk-themes($theme);
	$background-palette: map-get($theme, background);
	$dialog-background: mat-color($background-palette, dialog);
	$foreground-text-color: map-get(map-get($theme, foreground), text);

	.tsk-dialog-background {
		background-color: $dialog-background;
		color: $foreground-text-color;
	}
}

@include set-themes(mat-dark-theme(
	mat-palette($mat-purple),
	mat-palette($mat-green, A200, A100, A400)
));
